.BackDrop{
  transition: all .5s ease-in;
  position: absolute;
  height: 100%;
  width: 2000px;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0,0,0, .7);
  z-index: 240;
  &Active{
    opacity: 1;
  }
}