.Contact{
  position: relative;
  &__icon{
    z-index: 10;
    position: relative;
    margin: 10px auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
  }
  &__Wrapper{
    transform: scale(1.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 35;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: "Alegreya SC";
    cursor: pointer;
    font-size: 12px;
    pointer-events: none;

  }
}
