.List{
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 100;
  list-style: none;
  transform: translateX(-50%);
  &__Item{
    color: #cbcbcb;
    font-family: "Alegreya SC";
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px 10px;
    text-shadow: 0px 0px 15px #000;
    cursor: pointer;
  }
}

